{% extends "base.html" %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <p>Your tasks:</p>
	<form action="{% url 'tasks.views.all' %}" method="post">
	{% csrf_token %}
	<input type="submit" value="Save" />

	<div class="tag-header">
		{% for tag in tags %}
			<div class="tag"><button class="btn btn-default" type="submit">{{tag}}</button></div>
		{% endfor %}
	</div>
	
	<table class="table">
	<thead>
		<tr><th>Task</th><th class="centered">Conquered</th><th class="centered">Current<br>Quest</th></tr>
		<tr><td><input type="text" name="new_task" placeholder="Quick Add" size="60" /></td></tr>
	</thead>
	<tbody>
	{% for task in tasks %}
	    <tr bgcolor="{% if forloop.counter|divisibleby:2 %}{{TABLE_BG_COLORS.0}}
	                 {% else %}{{TABLE_BG_COLORS.1}}{% endif %}">
			<td width="400px"><a href="{% url 'tasks.views.detail' task.pk %}">
				{{task.task_name}}</a></td>
			<td align=center>
			<input type="checkbox" name="completed" value="{{task.pk}}" />
			</td>
			<td align=center>
			<input type="checkbox" name="for_today" value="{{task.pk}}" 
			{% if task.for_today %}checked{% endif %}/>
			</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	<input type="submit" value="Save" />
	</form>
{% endblock %}