{% extends "base.html" %}

{% block content %}
<script>
$(document).ready(function(){
    function toggle_options() {
        $('#repeat-options').toggle(this.value != 'NR');
    };

    $('#{{form.repeat_type.id_for_label}}').on('change', toggle_options).change();

    function toggle_quest_buttons() {
        $('#add_to_quest').toggle(this.value == 'False');
        $('#remove_from_quest').toggle(this.value == 'True');
    };

    $('#{{form.for_today.id_for_label}}').on('change', toggle_quest_buttons).change();

    $('#add_to_quest').click(function() {
        $('#{{form.for_today.id_for_label}}').val('True');
        $('#add_to_quest').hide();
        $('#remove_from_quest').show();
    });

    $('#remove_from_quest').click(function() {
        $('#{{form.for_today.id_for_label}}').val('False');
        $('#add_to_quest').show();
        $('#remove_from_quest').hide();
    });

    $('#delete_button').click(function() {
        yes_delete = confirm("Are you sure you want to delete this task? This cannot be undone, and you will not get any XP for this task!");
        if (yes_delete) {
            $('#delete').submit()
        }
    });
});
</script>

    <form action="{% url 'tasks.views.detail' pk %}" method="post">
	    {% csrf_token %}
        {{form.non_field_errors}}
	    <input type="submit" value="Save" />
        {{form.task_name.errors}}
        <div class="row row-padding">
            <div class="col-lg-2">{{form.task_name.label_tag}}</div>
            <div class="col-lg-1"></div>
            <div class="col-lg-9"><input style="width: 100%" id="{{form.task_name.id_for_label}}" maxlength="{{form.task_name.field.max_length}}" name="{{form.task_name.html_name}}" type="text" value="{{form.task_name.value}}" /></div>
        </div>
        <input type="hidden" id="{{form.for_today.id_for_label}}" name="{{form.for_today.html_name}}" value="{{form.for_today.value}}" />
        <div class="row row-padding">
            <div class="col-lg-2"><label>Today's Quest:</label></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-9">
                <button type="button" id="add_to_quest" class="btn btn-success">Add to Quest</button>
                <button type="button" id="remove_from_quest" class="btn btn-primary">Remove from Quest</button>
            </div>
        </div>
        <div class="row row-padding">
            <div class="col-lg-2">{{form.due_date.label_tag}}</div>
            <div class="col-lg-1"></div>
            <div class="col-lg-9">{{form.due_date}}</div>
        </div>
        <div class="row row-padding">
            <div class="col-lg-2">{{form.repeat_type.label_tag}}</div>
            <div class="col-lg-1"></div>
            <div class="col-lg-9">{{form.repeat_type}}</div>
        </div>
        <div id="repeat-options">
            <div class="row row-padding">
                <div class="col-lg-2">{{form.repeat_days.label_tag}}</div>
                <div class="col-lg-1"></div>
                <div class="col-lg-9">{{form.repeat_days}}</div>
            </div>
        </div>

        <input type="submit" value="Save" />
	</form>

    <form action="{% url 'delete task' %}" method="post" id="delete">
	    {% csrf_token %}
        <input type="hidden" name="delete" value="{{pk}}" />
    </form>
    <button type="button" class="btn btn-danger" id="delete_button">Delete Task</button>

{% endblock %}