{% extends "base.html" %}

{% block content %}
<script>
$(document).ready(function(){
    var active_tags = [{% for tag in active_tags %}"{{ tag | escape }}", {% endfor %}];

    $('.tag-btn').click(function() {
        active_tags = toggleTag($(this), active_tags, '.table-main tr');
    });

    $('#untagged-tasks').click(function() {
        toggleUntagged($(this));

    updateStriping('.table-main tr');
    });
});
</script>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <p>Your tasks:</p>
	<form action="{% url 'tasks.views.all' %}" method="post">
	{% csrf_token %}
	<input type="submit" value="Save" />

	<div class="tag-header">
		{% for tag in tags %}
			<div class="tag"><button class="btn tag-btn
			{% if tag in active_tags %}btn-primary{% else %}btn-default{% endif %}
            tag-btn-{{tag | escape}}"
		    type="button">{{tag | escape}}</button></div>
		{% endfor %}
	</div>
    <div class="tag"><button class="btn btn-primary" id="untagged-tasks" type="button">Untagged</button></div>

	<table class="table">
	<thead>
		<tr><th>Task</th><th class="centered">Tags</th><th class="centered">Current<br>Quest</th><th class="centered">Conquered</th></tr>
		<tr><td><input type="text" name="new_task" placeholder="Quick Add" size="60" autofocus/></td></tr>
	</thead>
	<tbody class="table-main">
	{% for task, tag_list in tasks.items %}
	    <tr class="{% if tag_list %}{% for tag in tag_list %}tag-{{tag}} {% endfor %}{% else %}untagged {% endif %}">
			<td width="400px"><a href="{% url 'tasks.views.detail' task.pk %}">
				{{task.task_name}}</a></td>
			<td align="center">
				{% for tag in tag_list %}
					<button class="btn btn-default">{{tag | escape}}</button>
				{% endfor %}
			</td>
			<td align=center>
			<input type="checkbox" name="for_today" value="{{task.pk}}" 
			{% if task.for_today %}checked{% endif %}/>
			</td>
			<td align=center>
			<input type="checkbox" name="completed" value="{{task.pk}}" />
			</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	<input type="submit" value="Save" />
	</form>
{% endblock %}