{% extends "base.html" %}

{% block content %}

<script>
$(document).ready(function(){
    updateStriping('.table-main tr');
});
</script>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% if status = 'complete'%}
	    <h3>You have completed today's quest! Come back tomorrow for another.</h3>
	{% else %}
		<h3>Today's Quest:</h3>
		{% if status = 'need more' %}
			<h4>Note: You need more tasks on your list to complete today's quest! 
			<a href={% url 'tasks.views.all' %}>Add more.</a></h4>
		{% endif %}
	{% endif %}
		
	<form action="{% url 'tasks.views.today' %}" method="post">
	{% csrf_token %}
		
	<table class="table">
	<thead>
	<tr><td><input type="text" name="new_today_task" placeholder="Quick Add" size="60" autofocus/></td></tr>
	<tr><th>Task</th><th>Conquered</th></tr>
    </thead>
	<tbody class="table-main">
	{% for task in tasks %}
		<tr>
			<td width="400px"><a href="{% url 'tasks.views.detail' task.pk %}">
				{{task.task_name}}</a></td>
			<td>
			<input type="checkbox" name="completed"
				   value="{{task.pk}}" />
			</td>
		</tr>
	{% endfor %}
    </tbody>
	</table>
	<input type="submit" value="Save" />
	</form>
{% endblock %}