{% extends "base.html" %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% if status = 'complete'%}
	    <h3>You have completed today's quest! Come back tomorrow for another.</h3>
	{% else %}
		<h3>Today's Quest:</h3>
		{% if status = 'need more' %}
			<h4>Note: You need more tasks on your list to complete today's quest! 
			<a href={% url 'tasks.views.all' %}>Add more.</a></h4>
		{% endif %}
	{% endif %}
		
	<form action="{% url 'tasks.views.today' %}" method="post">
	{% csrf_token %}
		
	<table>
	<tr><th>Task</th><th>Completed</th></tr>
	{% for task in tasks %}
		<tr bgcolor="{% if forloop.counter|divisibleby:2 %}{{TABLE_BG_COLORS.0}}
	                 {% else %}{{TABLE_BG_COLORS.1}}{% endif %}">
			<td width="400px"><a href="{% url 'tasks.views.detail' task.pk %}">
				{{task.task_name}}</a></td>
			<td>
			<input type="checkbox" name="completed"
				   value="{{task.pk}}" />
			</td>
		</tr>
	{% endfor %}
	<tr><td><input type="text" name="new_today_task" placeholder="Quick Add" size="60" /></td></tr>
	</table>
	<input type="submit" value="Save" />
	</form>
{% endblock %}