{% load staticfiles %}
<!doctype html>
<html>
<head>
<title>Tasker Hero</title>

<link rel="stylesheet" href="{% static 'taskerhero/css/styles.css' %}" />

</head>

<body>

<div id="container">

   <div id="topbar">
       <div id="left_header_block">
	   <img src="{% static 'taskerhero/images/crossedswordssmall.png' %}">
	   </div>
	   
	   <div id="header_content">
           <h1>Tasker Hero</h1>
	       <h2>Level up in life!</h2>
	   </div>
	   
	   <div id="user_info">
	       <p>{{username}}</p>
		   <p>Level {{userlevel}}</p>
	   </div>
   </div>
   <div class="clear"></div>
   <div id="sidebar">
		   <a href="{% url 'tasks.views.today' %}">
	       <li>Today's Quest</li></a>
	       <a href="{% url 'tasks.views.all' %}">
		   <li>All Tasks</li></a>
	       <a href="{% url 'userprofile.views.userhome' %}">
		   <li>My Items</li></a>
		   <li>My Party</li>
   </div>
   </div>
   <div>{% block content %}}{% endblock %}</div>
   
</div>

</body>
</html>