{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href='https://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script><link rel="stylesheet" href="{% static 'taskerhero/css/styles.css' %}" />

  <title>Tasker Hero</title>

</head>

<body>

<div class="container-fluid remove-padding">

   <div class="row remove-padding" id="topbar">
       <div class="col-xs-2" id="left_header_block">
           <a href="{% url 'views.index' %}">
           <img class="img-responsive" src="{% static 'taskerhero/images/crossedswordssmall.png' %}">
           </a>
	   </div>
	   
	   <div class="col-sm-8" id="header_content">
           <h1>Tasker Hero</h1>
	       <h2>Level up in life!</h2>
	   </div>
	   {% if loggedin %}
	   <div class="col-sm-2 right-align" id="user_info">
	       <p>{{username}}</p>
		   <p>Level {{userlevel}}</p>
           <p><a role="button" class="btn btn-default" href="{% url 'logout' %}">Logout</a></p>
	   </div>
       {% endif %}
   </div>
   <div id="navmenu" class="row remove-padding">
       <ul class="remove-padding">
		   <a href="{% url 'tasks.views.today' %}">
	       <li>Today's Quest</li></a>
	       <a href="{% url 'tasks.views.all' %}">
		   <li>All Tasks</li></a>
	       <a href="{% url 'userprofile.views.userhome' %}">
		   <li>My Items</li></a>
           <a href="{% url 'all rewards' %}">
		   <li>Rewards</li></a>
       </ul>
   </div>
   <div id="main-content">{% block content %}{% endblock %}</div>
   
</div>

</body>
</html>