{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'taskerhero/css/bootstrap.min.css' %}" >
  <link rel="stylesheet" href="{% static 'taskerhero/css/styles.css' %}" />

  <title>Tasker Hero</title>

</head>

<body>

<div class="container-fluid">

   <div class="row" id="topbar">
       <div class="col-sm-2" id="left_header_block">
	   <img class="img-responsive" src="{% static 'taskerhero/images/crossedswordssmall.png' %}">
	   </div>
	   
	   <div class="col-sm-8" id="header_content">
           <h1>Tasker Hero</h1>
	       <h2>Level up in life!</h2>
	   </div>
	   
	   <div class="col-sm-2" id="user_info">
	       <p>{{username}}</p>
		   <p>Level {{userlevel}}</p>
	   </div>
   </div>
   <div class="clear"></div>
   <div id="sidebar">
		   <a href="{% url 'tasks.views.today' %}">
	       <li>Today's Quest</li></a>
	       <a href="{% url 'tasks.views.all' %}">
		   <li>All Tasks</li></a>
	       <a href="{% url 'userprofile.views.userhome' %}">
		   <li>My Items</li></a>
		   <li>My Party</li>
   </div>
   </div>
   <div>{% block content %}}{% endblock %}</div>
   
</div>

</body>
</html>