#navmenu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000066;
}


body, html {
    margin:0;
    height:100%;
}

.remove-padding {
    padding: 0;
}

.row-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

#topbar {
    background-color:#5882FA;
}

#main-content {
    padding: 20px;
}

#header_content {
    font-family:'Luckiest Guy', sans;
}

.right-align {
    text-align: right;
}

.centered {
    text-align: center;
}